[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dexisensitivity"]
	path = dexisensitivity
	url = https://github.com/nicavan/dexisensitivity
